.loginSection {
    width: 30%;
    gap: 2em;
    background-color: white;
    color: black;
    font-size: 18px;
    align-items: center;
    padding: 2em;
    border-radius: 1em;
}

.loginSection > .inputSection {
    gap: 1em;
    width: 100%;
}

.inputSection > input {
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 0.5em;
}

.loginSection > button {
    width: 30%;
}