.dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dialog-box {
    width: 30%;
    min-height: 30%;
    background-color: white;
    border-radius: 1em;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.dialog-header{
    height: 10%;
}


.dialog-footer{
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    gap: 1em;
}

.dialog-footer button{
    width: 50%;
}

.cancel-dialog-button{
    background-color: var(--button-danger-color);
}

.success-dialog-button{
    background-color: var(--button-success-color);
}