.cardProduct {
    width: 20%;
    background-color: white !important;
    color: black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1em;
    box-shadow: var(--card-shadow);
}

.cardProduct>img {
    border-radius: 1em;
    width: 100%;
}