.cartWrapper {
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.cardCart {
    max-height: 40%;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
}

.left>img {
    width: 200px;
    height: 200px;
    border-radius: 1em;
}

.right {
    gap: 1em;
}

.productsWrapper {
    width: 40%;
    background-color: white;
    color: black;
    padding: 1em;
    gap: 2em;
    border-radius: 0.5em;
    box-shadow: var(--card-shadow);
}

.calculateWrapper {
    width: 40%;
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: var(--card-shadow);
    gap: 2em;
}

.calculateWrapper>button {
    width: 20%;
}