.layer {
    display: 'none';
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes onOpen {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}

@keyframes onClose {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}


